@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
      url('iconfont.woff2') format('woff2'),
      url('iconfont.woff') format('woff'),
      url('iconfont.ttf') format('truetype'),
      url('iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icontuichu:before {
  content: "\e7c8";
}

.iconfahuo:before {
  content: "\e6d5";
}

.iconxiezai:before {
  content: "\e62c";
}

.iconshouhuo:before {
  content: "\e684";
}

.iconiconfontzhizuobiaozhunbduan31:before {
  content: "\e6e5";
}

.icondabaoxiazai:before {
  content: "\e604";
}

.iconyiku:before {
  content: "\e609";
}

.iconnavicon-kcpdd:before {
  content: "\e65f";
}

.iconjianhuoguihuan:before {
  content: "\e601";
}

.iconchaxun:before {
  content: "\e625";
}

.iconziyuan:before {
  content: "\e63a";
}

